@import './styles/variables';

.button {
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Variantlar buraya gelecek */
    .primary {
        background-color: $blue;
        color: $white;
    }

    .primary:hover {
        background-color: #2747d9;
    }
}