.card {
  width: 100%;
  max-width: 323px;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #152c5b;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem; 
  font-weight: 500;
  margin-bottom: 12px;
}

.price {
  display: flex;
  align-items: baseline;
  font-size: 2.25rem;
  margin-bottom: 24px;
}

.amount {
  color: #1abc9c;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
}

.perNight {
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 275;
  margin-left: 8px;
}

.button {
  width: 100%;
  max-width: 323px;
  height: 50px;
  background-color: #003dfc;
  color: #fafafa;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #002db8;
  }
}
