.choice-card {
    position: relative;
    width: 100%;
    max-width: 270px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
}

.choice-card-image {
    width: 100%;
    height: 190px;
}

.popular-badge {
    position: absolute;
    top: 7px;
    right: 0;
    background-color: #3252DF;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 0 10px 0 10px ;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-card-content {
    padding: 16px;
}

.choice-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #1f2937;
}

.choice-card-subtitle {
    font-size: 14px;
    color: #9ca3af;
}