@use '../../styles/index.scss' as *;
@import '../../styles/variables.scss';

.treasureSection {
  padding: 24px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: $primary-font;

  &> .treasureTitle {
    font-size: $fnt-size-2xl;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &> .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }


}





@media screen and (max-width: $mobile-l) {
  .treasure-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}



